<mat-card class="tab">
  <div class="main-tab">
    <form novalidate [formGroup]="forexForm">
        <mat-form-field class="select-menu" appearance="outline">
            <mat-label>Amount</mat-label>
            <input #amount matInput class="" (blur)="validateAmount(amount.value)" id="amountInput" type="number" formControlName="amount" />
        </mat-form-field>
      <app-select [currencyList]="currencyList" [(currency)]="from"></app-select>
      <button class="change-menu" mat-button (click)="change()"> 
          <mat-icon aria-hidden="false" aria-label="chevron-right"> <i class="fas fa-exchange-alt"></i> </mat-icon>
      </button> 
      <app-select [currencyList]="currencyList" [(currency)]="to"></app-select>
      <button class="convert-menu" mat-stroked-button [disabled]="!(from && to) || wait" (click)="convert()"> 
          <mat-icon aria-hidden="false" aria-label="chevron-right"> <i class="fas fa-chevron-right"></i> </mat-icon>    
          <mat-progress-bar *ngIf="wait" mode="buffer" [value]="progressValue"></mat-progress-bar>
      </button>
    </form>
  </div>
  <div class="result">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <span *ngIf="resultMsg">{{resultMsg}}</span>
  </div>
</mat-card>
  <div *ngIf="resultMsg" class="chart">
    <app-chart *ngIf="reload" [from]="cleanFrom" [to]="cleanTo"></app-chart>
  </div>

