.tab {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    background-color: rgba(0, 34, 114, 0.20);
    padding-top: 1.4em;

    @media screen and (max-width: 450px) {
        align-content: stretch;
        margin-top: 0;
    }
}

.main-tab {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;

    .select-menu {
        margin-right: 1em;
        margin-left: 1em;

        @media screen and (max-width: 450px) {
            margin: 0;
          }
    }

    i {
        &.fa-chevron-right {
            display: flex;
            justify-content: center;
        }

        &.fa-exchange-alt{
            color: black;
        }
        
    }

    button {

        &.convert-menu {
            padding: .8em;
            bottom: .35em;

            @media screen and (max-width: 450px) {
                bottom: 0;  
                border-radius: 0;
            }
    
            &:enabled {
                background-color: #fcb813;
            }
        }

        &.change-menu {
            padding: .8em;
            bottom: .35em;       
        }
        
        @media screen and (max-width: 450px) {
            width: 100%;
        }
    }
}

.result {
    width: 100%;
    min-height: 4em;
    background-color: rgba(0, 34, 114, 0.40);
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    app-chart {
        width: 100%;
        height: auto;
    }

    @media screen and (max-width: 450px) {
        width: auto;
    }
}

.chart {
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    app-chart {
        width: 100%;
        height: auto;
    }

    @media screen and (max-width: 450px) {
        width: auto;
    }
}